<?php 
// configuration pour wip_silecs_M31 UP1 sur moodle-test au 12/09/2018
return([
'settings' => [
	'verbosity' => 1,
	'log' => true,
],
'plugins' => [
	'plagiarism/compilatio' => [
		'path' => '/plagiarism/compilatio',
		'gitrepository' => 'https://github.com/compilatio/moodle-plagiarism_compilatio.git',  // mandatory
		'gitrevision' => '6fcb197fe7',  // 2016072000 release=2.3.0
	],
	'block/course_contents' => [
		'path' => '/blocks/course_contents',
		'gitrepository' => 'https://github.com/mudrd8mz/moodle-block_course_contents.git',
		'gitbranch' => 'v5.2.0',  // release=5.2.0
	],
	'block/notification' => [
		'path' => '/blocks/notifications',
		'gitrepository' => 'https://github.com/arael/moodle_notifications_20.git',
		'gitrevision' => '933bbafa7a', // 2015102200 release=1
	], 
	'assignsubmission/onlineaudio' => [
		'path' => '/mod/assign/submission/onlineaudio',
		'gitrepository' => 'https://github.com/pauln/moodle-assignsubmission_onlineaudio.git',
		'gitrevision' => 'c17cd8e6c3', // 2014112402 v1.2.2
	], 
	'gitrepository/recordaudio' => [
		'path' => '/repository/recordaudio',
		'gitrepository' => 'https://github.com/pauln/moodle-repository_recordaudio',
		'gitbranch' => 'MOODLE_23_STABLE',
	],
	'block/togglerole' => [
		'path' => '/blocks/togglerole',
		'gitrepository' => 'https://github.com/Silecs-UnivParis1/moodle-block-togglerole.git',
	],
	'block/completion_progress' => [
		'path' => '/blocks/completion_progress',
		'gitrepository' => 'https://github.com/deraadt/moodle-block_completion_progress'
	],

/* 2018-10-29 : ELM Retrait de certain plugin du dépot et gestion par gitplugin */

/* ------- > BLOCKS */

/* ------- > COURSE FORMAT */
        'course/format/grid' => [
                'path' => '/course/format/grid',
                'gitrepository' => 'https://github.com/gjb2048/moodle-format_grid',
        ],  

/* ------- > FILTER */

        'filter/pod' => [
                'path' => '/filter/pod',
                'gitrepository' => 'https://github.com/EsupPortail/moodle-mod_pod-filter',
        ],  


/* ------- > LOCAL  */

        'local/mail' => [
                'path' => '/local/mail',
                'gitrepository' => 'https://github.com/IOC/moodle-local_mail',
        ],

        'local/mobie' => [ 
                'path' => '/local/mobile',
                'gitrepository' => 'https://github.com/moodlehq/moodle-local_mobile',
		'gitrevision' => '6b9c105f31eb707ef59a5df38d39e1f22f841065',
		'gitbranch' => 'MOODLE_35_STABLE',
        ],

       'local/analytics' => [ 
                'path' => '/local/analytics',
                'gitrepository' => 'https://github.com/bmbrands/moodle-local_analytics',
        ],

       'local/up1reportepiufr' => [ 
                'path' => '/local/up1reportepiufr',
                'gitrepository' => 'https://github.com/UnivParis1/moodle-report-EPI-UFR',
        ],  

       'local/purgesdatas' => [ 
                'path' => '/local/purgesdatas',
                'gitrepository' => 'https://github.com/UnivParis1/moodle-purgesdatas',
        ],  

 

       'local/userenrols' => [ 
                'path' => '/local/userenrols',
                'gitrepository' => 'https://github.com/appalachianstate/moodle-local_userenrols',
        ],  

	'local/up1_deploycohorts' => [
		'path' => '/local/up1_deploycohorts',
		'gitrepository' => 'https://github.com/UnivParis1/moodle-local_up1_deploycohorts'
],	



/* ------- > MOD */


        'mod/activequiz' => [
                'path' => '/mod/activequiz',
                'gitrepository' => 'https://github.com/jhoopes/moodle-mod_activequiz',
        ],
        'mod/bigbluebuttonbn' => [
                'path' => '/mod/bigbluebuttonbn',
                'gitrepository' => 'https://github.com/blindsidenetworks/moodle-mod_bigbluebuttonbn',
        ],
        'mod/choicegroup' => [
                'path' => '/mod/choicegroup',
                'gitrepository' => 'https://github.com/ndunand/moodle-mod_choicegroup',
               // 'gitrevision' => '9414423c948b2a03b159add062b3885f914725ce'
        ],
        'mod/hotpot' => [
                'path' => '/mod/hotpot',
                'gitrepository' => 'https://github.com/gbateson/moodle-mod_hotpot',
        ],  

        'mod/lightboxgallery' => [ 
                'path' => '/mod/lightboxgallery',
                'gitrepository' => 'https://github.com/netspotau/moodle-mod_lightboxgallery',
        ],

        'mod/offlinequiz' => [
                'path' => '/mod/offlinequiz',
                'gitrepository' => 'https://github.com/academic-moodle-cooperation/moodle-mod_offlinequiz',
        ],


/* ------- > QUESTION BEHAVIOUR */

        'question/behaviour/regexpadaptivewithhelp' => [
                'path' => '/question/behaviour/regexpadaptivewithhelp',
                'gitrepository' => 'https://github.com/ndunand/moodle-qbehaviour_regexpadaptivewithhelp',
        ],

        'question/behaviour/regexpadaptivewithhelpnopenalty' => [
                'path' => '/question/behaviour/regexpadaptivewithhelpnopenalty',
                'gitrepository' => 'https://github.com/ndunand/moodle-qbehaviour_regexpadaptivewithhelpnopenalty',
        ],

        'question/behaviour/adaptivemultipart' => [
                'path' => '/question/behaviour/adaptivemultipart',
                'gitrepository' => 'https://github.com/maths/moodle-qbehaviour_adaptivemultipart',
        ],

        'question/behaviour/dfexplicitvaildate' => [
                'path' => '/question/behaviour/dfexplicitvaildate',
                'gitrepository' => 'https://github.com/maths/moodle-qbehaviour_dfexplicitvaildate',
        ],

        'question/behaviour/dfcbmexplicitvaildate' => [
                'path' => '/question/behaviour/dfcbmexplicitvaildate',
                'gitrepository' => 'https://github.com/maths/moodle-qbehaviour_dfcbmexplicitvaildate',
        ],


/* ------- > QUESTION FORMAT */

        'question/format/hotpot' => [
                'path' => '/question/format/hotpot',
                'gitrepository' => 'https://github.com/gbateson/moodle-qformat_hotpot',
        ], 
        'question/format/wordtable' => [
                'path' => '/question/format/wordtable',
                'gitrepository' => 'https://github.com/ecampbell/moodle-qformat_wordtable',
        ],

/* ------- > QUESTION TYPE */

        'question/type/ordering' => [
                'path' => '/question/type/ordering',
                'gitrepository' => 'https://github.com/gbateson/moodle-qtype_ordering',
        ],  

        'question/type/multichoiceset' => [
                'path' => '/question/type/multichoiceset',
                'gitrepository' => 'https://github.com/ecampbell/moodle-qtype_multichoiceset/',
        ],
        'question/type/regexp' => [
                'path' => '/question/type/regexp',
                'gitrepository' => 'https://github.com/ndunand/moodle-qtype_regexp',
        ],

        'question/type/stack' => [
                'path' => '/question/type/stack',
                'gitrepository' => 'https://github.com/maths/moodle-qtype_stack',
        ],

        'question/type/wordselect' => [
                'path' => '/question/type/wordselect',
                'gitrepository' => 'https://github.com/marcusgreen/moodle-qtype_wordselect',
        ],

/* ------- > REPORT */

        'report/customsql' => [
                'path' => '/report/customsql',
                'gitrepository' => 'https://github.com/moodleou/moodle-report_customsql',
        ],

/* ------- > REPOSITORY  */


        'repository/pod' => [
                'path' => '/repository/pod',
                'gitrepository' => 'https://github.com/EsupPortail/moodle-mod_pod',
        ],

/* ------- > THEMES */



/* 2018-10-29 : FIN   */  



	'mod/etherpadlite' => [
		'path' => '/mod/etherpadlite',
		'gitrepository' => 'https://github.com/moodlehu/moodle-mod_etherpadlite',
	],

/*
	'mod/etherpadlite' => [
		'path' => '/mod/etherpadlite',
		'gitrepository' => 'https://github.com/Silecs-UnivParis1/moodle-mod_etherpadlite.git',
	],
*/
	'theme_essential' => [
		'path' => '/theme/essential',
		'gitrepository' => 'https://github.com/UnivParis1/moodle-theme_essential',
	],

/* -- PLUGINS ATTO -- */

         'lib/editor/atto/plugins/morefontcolors' => [
                 'path' => '/lib/editor/atto/plugins/morefontcolors',
                 'gitrepository' => 'https://github.com/ndunand/moodle-atto_morefontcolors',
         ],
         'lib/editor/atto/plugins/morebackcolors' => [
                 'path' => '/lib/editor/atto/plugins/morebackcolors',
                 'gitrepository' => 'https://github.com/ndunand/moodle-atto_morebackcolors',
         ],

]
]);
